body {
    background-color:#ff634780;
    font-family: sans-serif;
    
}

h1 {
    font-size: 35px;
    font-weight: 300;
    text-align: left;
}

h2 {
    font-size: 25px;
    font-weight: 100;
}

